In [3]:
from tkinter import *
from tkinter import ttk
root = Tk()
frm = ttk.Frame(root, padding=10)
frm.grid()
ttk.Label(frm, text="Hello World!").grid(column=0, row=0)
ttk.Button(frm, text="Quit", command=root.destroy).grid(column=1, row=0)
root.mainloop()

In [30]:
import datetime
import pandas as pd
df = pd.DataFrame({'date': [42087, 44613, 44618]})

In [31]:
df

    date
0  42087
1  44613
2  44618

In [36]:
pd.to_datetime(df['date'], unit='d',dayfirst=True)

0   2085-03-25
1   2092-02-23
2   2092-02-28
Name: date, dtype: datetime64[ns]